.header{
    background-color: #0AAAA0;
    height: 2.5rem;
}

.social{
    float: right;
    padding-top: .5rem;
    color: white;
    margin: 0rem 15rem 0rem 0rem;
    width: fit-content;
    font-size: 14px;
}
.icn{
    color: white;
    margin-left: 1rem;
}
.navDiv{
    margin: 0 auto;
}
.footer{
    display: flex;
}
.details{
    margin: 0rem auto;
    color: white;
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
    
}
.contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
}


.demo-bg {
    overflow: hidden;
    position: relative;
    height: 60vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
  }
  .imgSize{
    margin: 0 auto;
    width: 60%;
    height: 100%;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    padding-top: 2rem; 
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
    float: left;
  }
  .joinImg{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 4rem;
  }

  .para1{
    font-size: 1.05rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 70vh;
  }

  .crou{
    padding-top: 3rem;
    width: 50%;
    background-color: white;
    text-align: right;
  }

  .imgCru{
    height: 22rem;
  }
  .subCrou{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .info{
    width: 50%;
    padding-top: 3rem;
    text-align: left;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
  }
  .about{
    font-weight: lighter;
  }

  .imgwrap{
    overflow: hidden;
    position: relative;
    height: 50vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;

  }
  .stats{
    display: flex;
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: #6CCCC6;
    opacity: 80%;
  }
  #statIcn{
    padding-top: 0.5rem;
    text-align: center;
    margin: 7rem 8rem 8rem 12rem;
    color: rgb(0, 0, 0);
    height: 30%;
    width: 200%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
  }
  .img-txt-1{
    position: absolute;
    top: 15rem;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .staticn{
    font-size: 50px;
    color: black;
  }
  .exp{
    margin-top: 0.5rem;
  }

  .img-txt-2{
    position: absolute;
    top: 15rem;
    left: 25rem;
    color:black;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .volntr{
    margin-top: 0.5rem;
  }

  .img-txt-3{
    position: absolute;
    top: 15rem;
    left: 50rem;
    color:black;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .help{
    margin-top: 0.5rem;
  }



/* ---------------------------max 370 px------------------- */

@media only screen and (min-width: 310px) and (max-width: 370px)  {
    
  .header{
    background-color: #0AAAA0;
    height: 2.5rem;
  }

  .social{
    float: none;
    padding-top: 0.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    font-size: 12px;
  }
  .icn{
    color: white;
    margin-left: 0.2rem;
  }
  .navDiv{
    margin: 0 auto;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 2rem;
    
}
  .contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
  }


  .demo-bg {
    overflow: hidden;
    position: relative;
    height: 90vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
  }
  .imgSize{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
  }
  .joinImg{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 1rem;
  }

  .para1{
    font-size: 0.9rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 130vh;
    flex-direction: column;
  }

  .crou{
    padding-top: 3rem;
    width: 100%;
    background-color: white;
    text-align: right;
  }

  .subCrou{
    width: 90%;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .imgCru{
    height: 10rem;
  }
  .info{
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
    font-size: 00.9rem;
    margin: 0 auto;
  }
  .about{
    font-weight: lighter;
  }

  .imgwrap{
    overflow: hidden;
    /* position: relative; */
    height: 62vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;
    display: none;

  }
  .stats{
    display: flex;
    background-color: #6CCCC6;
    opacity: 80%;
    flex-direction: column;
  }
  #statIcn{
    font-size: 0.7rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    height: 22%;
    width: 35%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
    padding-top: 1rem;
  }
  .staticn{
    font-size: 30px;
    color: black;
  }
  .exp{
    margin-top: 0.3rem;
  }
  .volntr{
    margin-top: 0.3rem;
  }

  .help{
    margin-top: 0.3rem;
  }
}



/* ---------------------------Min 374 and Max 424 px------------------- */

@media only screen and (min-width: 374px) and (max-width: 423px)  {
    
  .header{
    background-color: #0AAAA0;
    height: 2.5rem;
  }

  .social{
    float: none;
    padding-top: 0.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    font-size: 12px;
  }
  .icn{
    color: white;
    margin-left: 0.2rem;
  }
  .navDiv{
    margin: 0 auto;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 2rem;
    
}
  .contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
  }


  .demo-bg {
    overflow: hidden;
    position: relative;
    height: 90vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
  }
  .imgSize{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
  }
  .joinImg{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 1rem;
  }

  .para1{
    font-size: 0.9rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 110vh;
    flex-direction: column;
  }

  .crou{
    padding-top: 1rem;
    width: 100%;
    background-color: white;
    text-align: right;
  }

  .subCrou{
    width: 90%;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .imgCru{
    height: 10rem;
  }
  .info{
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
    font-size: 00.9rem;
    margin: 0 auto;
  }
  .about{
    font-weight: lighter;
  }

  .imgwrap{
    overflow: hidden;
    /* position: relative; */
    height: 70vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;
    display: none;

  }
  .stats{
    display: flex;
    background-color: #6CCCC6;
    opacity: 80%;
    flex-direction: column;
  }
  #statIcn{
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    height: 25%;
    width: 35%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
    padding-top: 1rem;
  }
  .staticn{
    font-size: 35px;
    color: black;
  }
  .exp{
    margin-top: 0.5rem;
  }
  .volntr{
    margin-top: 0.5rem;
  }

  .help{
    margin-top: 0.5rem;
  }
}




/* ---------------------------Min 424 and Max 767 px------------------- */

@media only screen and (min-width: 425px) and (max-width: 767px)  {
    
  .header{
    background-color: #0AAAA0;
    height: 2.5rem;
  }

  .social{
    float: none;
    padding-top: 0.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    font-size: 12px;
  }
  .icn{
    color: white;
    margin-left: 0.2rem;
  }
  .navDiv{
    margin: 0 auto;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 2rem;
    
}
  .contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
  }


  .demo-bg {
    overflow: hidden;
    position: relative;
    height: 90vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
  }
  .imgSize{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
  }
  .joinImg{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 1rem;
  }

  .para1{
    font-size: 0.9rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 110vh;
    flex-direction: column;
  }

  .crou{
    padding-top: 1rem;
    width: 100%;
    background-color: white;
    text-align: right;
  }

  .subCrou{
    width: 90%;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .imgCru{
    height: 10rem;
  }
  .info{
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
    font-size: 00.9rem;
    margin: 0 auto;
  }
  .about{
    font-weight: lighter;
  }

  .imgwrap{
    overflow: hidden;
    /* position: relative; */
    height: 70vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;
    display: none;

  }
  .stats{
    display: flex;
    background-color: #6CCCC6;
    opacity: 80%;
    flex-direction: column;
  }
  #statIcn{
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    height: 25%;
    width: 35%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
    padding-top: 1rem;
  }
  .staticn{
    font-size: 35px;
    color: black;
  }
  .exp{
    margin-top: 0.5rem;
  }
  .volntr{
    margin-top: 0.5rem;
  }

  .help{
    margin-top: 0.5rem;
  }
}



/* ---------------------------Min 768 and Max 1023 px------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px)  {
    
  .header{
    background-color: #0AAAA0;
    height: 2.5rem;
  }

  .social{
    float: none;
    padding-top: 0.5rem;
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    font-size: 12px;
  }
  .icn{
    color: white;
    margin-left: 0.2rem;
  }
  .navDiv{
    margin: 0 auto;
  }
  .footer{
    display: flex;
    flex-direction: row;
  }
  .details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 2rem;
    
}
  .contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
  }


  .demo-bg {
    overflow: hidden;
    position: relative;
    height: 50vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
  }
  .imgSize{
    margin: 0 auto;
    width: 80%;
    /* height: 100%; */
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
  }
  .joinImg{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 1rem;
  }

  .para1{
    font-size: 1rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 110vh;
    flex-direction: column;
  }

  .crou{
    padding-top: 1rem;
    width: 100%;
    background-color: white;
    text-align: right;
  }

  .subCrou{
    width: 90%;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .imgCru{
    height: 23rem;
  }
  .info{
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
    font-size: 00.9rem;
    margin: 0 auto;
  }
  .about{
    font-weight: lighter;
  }

  .imgwrap{
    overflow: hidden;
    /* position: relative; */
    height: 25vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;
    display: block;

  }
  .stats{
    display: flex;
    background-color: #6CCCC6;
    opacity: 80%;
    flex-direction: row;
  }
  #statIcn{
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    height: 25%;
    width: 17%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
    padding-top: 1rem;
  }
  .staticn{
    font-size: 35px;
    color: black;
  }
  .exp{
    margin-top: 0.5rem;
  }
  .volntr{
    margin-top: 0.5rem;
  }

  .help{
    margin-top: 0.5rem;
  }
}

/* ---------------Above 1024px---------------------- */

@media only screen and (min-width: 1024px) and (max-width:1439px) {
  .header{
    background-color: #0AAAA0;
    height: 2.5rem;
}

.social{
    float: right;
    padding-top: .5rem;
    color: white;
    margin: 0rem 15rem 0rem 0rem;
    width: fit-content;
    font-size: 14px;
}
.icn{
    color: white;
    margin-left: 1rem;
}
.navDiv{
    margin: 0 auto;
}
.footer{
    display: flex;
}
.details{
    margin: 0rem auto;
    color: white;
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
    
}
.contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left;
    width: 80%;
    padding-bottom: 2rem;
}


.demo-bg {
    overflow: hidden;
    position: relative;
    height: 40vh;
    background-color: #0AAAA0;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
  }
  .imgSize{
    margin: 0 auto;
    width: 70%;
    height: 100%;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .subDemo{
    color: white;
    padding-top: 2rem; 
    height: 100%;
    align-items: center;
    background-color: 0AAAA0;
    float: left;
  }
  .joinImg{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
  }
  .joinBtn{
    margin-top: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.5em;
    width: 10rem;
    border-color: rgb(0, 92, 51);
    color: white;
  }
  .joinBtn:hover{
    font-size: 1.4rem;
    box-shadow: 1px -1px 10px 13px rgba(255, 255, 255,0.55);

  }

  .botm-head{
    font-weight: bold;
  }
  .aboutUs{
    margin-top: 4rem;
  }

  .para1{
    font-size: 1.05rem;
  }

  .info-head{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #0AAAA0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .infoMain{
    display: flex;
    height: 65vh;
  }

  .crou{
    padding-top: 3rem;
    width: 50%;
    background-color: white;
    text-align: right;
  }

  .imgCru{
    height: 17rem;
  }
  .subCrou{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    border: 4px solid rgb(82, 129, 82);
  }
  .info{
    width: 50%;
    padding-top: 3rem;
    text-align: left;
    font-weight: bold;
    background-color: white;
  }

  .infoSub{
    width: 85%;
  }
  .about{
    font-weight: lighter;
    font-size: 1rem;
  }

  .imgwrap{
    overflow: hidden;
    position: relative;
    height: 35vh;
    display: flex;
  }

  .statImg{
    background-image: url("/Images/counter-bg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 80vh;
    background-size: 100%;

  }
  .stats{
    display: flex;
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: #6CCCC6;
    opacity: 80%;
  }
  #statIcn{
    padding-top: 0.5rem;
    text-align: center;
    margin: 3rem 1.5rem 3rem 7rem;
    color: rgb(0, 0, 0);
    height: 25%;
    width: 17%;
    border: 5px solid black;
    background-color: #6CCCC6;
    border-radius: 50%;
    font-weight: bolder;
  }
  .img-txt-1{
    position: absolute;
    top: 15rem;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .staticn{
    font-size: 50px;
    color: black;
  }
  .exp{
    margin-top: 0.5rem;
  }

  .img-txt-2{
    position: absolute;
    top: 15rem;
    left: 25rem;
    color:black;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .volntr{
    margin-top: 0.5rem;
  }

  .img-txt-3{
    position: absolute;
    top: 15rem;
    left: 50rem;
    color:black;
    font-weight: bolder;
    transform: translateY(-50%);
    text-align: center;
  }
  .help{
    margin-top: 0.5rem;
  }

}